/**/
/* dialog-polyfill.css for faster loading */
/**/
dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block; }

dialog:not([open]) {
  display: none; }

dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1); }

._dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%); }

/**/
/* Load page fonts */
/**/
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v9/4fsTWUM100DESRCrYMRNTfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v9/qEjAkCC_I8-NsX6aYiQHCfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v9/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/**/
/* Page Style */
/**/
body {
  font-family: 'Nunito', sans-serif;
  margin: 0; }

.PageHeader {
  position: absolute;
  width: 100%;
  height: 13%;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #353744; }

.u-hideContent {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.PageHeader-logo {
  height: 10vh;
  padding: 2vh; }

.Main {
  position: absolute;
  width: 85%;
  height: 87%;
  top: 13%;
  left: 15%;
  bottom: 0;
  right: 0px;
  background-color: #F6F6F6; }

dialog {
  width: 450px;
  height: 220px;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }
  dialog .Modal-heading {
    font-size: 1.5rem;
    font-weight: normal;
    color: #181818; }
  dialog .Modal-sheet {
    color: #181818;
    padding-top: 0;
    margin: 0;
    padding-left: 25px;
    width: 100%;
    box-sizing: border-box; }
  dialog li {
    list-style-type: none;
    list-style-position: outside;
    padding: 0px;
    margin-bottom: 15px; }
    dialog li input {
      font: inherit;
      font-weight: bold;
      position: absolute;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      outline: none;
      width: 290px;
      padding: 2px 8px;
      right: 30px; }

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6); }

.Modal-buttons {
  position: absolute;
  bottom: 25px;
  right: 30px; }
  .Modal-buttons button {
    border: none;
    margin: 0px 3px; }
  .Modal-buttons button:first-of-type {
    background: linear-gradient(#d0d0d0, #bdbdbd);
    padding: 5px 15px;
    color: black; }
  .Modal-buttons button:last-of-type {
    background: linear-gradient(#7ad54f, #4aa470);
    padding: 5px 25px;
    color: white; }

form {
  margin: 0; }

.LeftPane {
  position: absolute;
  width: 15%;
  height: 87%;
  top: 13%;
  left: 0px;
  right: 85%;
  background-color: #61D290; }

.Messages::-webkit-scrollbar-track, .UserInputArea .UserInputArea-textarea::-webkit-scrollbar-track {
  border: 1px solid #ECECEC;
  border-radius: 10px;
  background-color: white; }

.Messages::-webkit-scrollbar, .UserInputArea .UserInputArea-textarea::-webkit-scrollbar {
  width: 0.8%;
  background-color: #F5F5F5; }

.Messages::-webkit-scrollbar-thumb, .UserInputArea .UserInputArea-textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #ECECEC;
  background-color: #EBEDEC; }

.MessagesHeader-stats {
  width: 30%;
  margin-right: 4%;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  text-align: right; }

dt,
dd {
  display: inline; }

dl {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0; }

.MessagesHeader-statsCaption {
  display: inline;
  margin-left: 0.1rem;
  font-weight: bold;
  font-size: 1.1em; }

.MessagesHeader-statsIcons {
  display: inline; }
  .MessagesHeader-statsIcons img {
    height: 1.1rem;
    -webkit-margin-after: -0.1em; }

.Messages {
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 97%;
  max-height: 73%;
  margin: 0% 1.5%;
  bottom: 17%;
  overflow-y: auto; }

.MessagesHeader {
  position: absolute;
  height: 10%;
  width: 100%; }
  .MessagesHeader h2 {
    margin: 0;
    display: inline-block;
    font-weight: normal;
    line-height: 1em;
    font-size: 2.1em;
    color: #181818;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 1vh 1.2vh; }
  .MessagesHeader aside {
    position: absolute;
    display: inline;
    margin: 1em 3em;
    right: 0; }

.Message-image {
  position: relative;
  float: left;
  top: 0.6em;
  left: 0px;
  width: 2.5em;
  border-radius: 50%; }

.Message-box {
  background-color: white;
  outline: none;
  display: inline-block;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0.5% 1.5%;
  padding: 10px 15px;
  min-width: 25%;
  max-width: 60%;
  border-style: solid;
  border-width: 0.15em;
  border-color: #ECECEC;
  border-radius: 10px;
  transition-duration: 0.2s; }

.Message-box:hover,
.Message-box:focus,
.Message-close:focus {
  background-color: #EBEDEC; }

.messages-input-text-seperator {
  height: 0%; }

.Message-text {
  margin: 0;
  margin-top: 5px;
  font-size: 1.1em;
  color: #181818; }

.Message-close {
  background: none;
  border: none;
  outline: none;
  display: block;
  float: right;
  font-size: 0em;
  font-weight: bold;
  margin-top: -0.4em;
  margin-right: -0.6em;
  color: #383A47;
  animation: fade-in 0.7s; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Message-box:hover .Message-close,
.Message-box:focus .Message-close,
.Message-close:focus {
  font-size: 1em; }

.Message-time {
  color: #616161;
  font-size: 0.8em;
  margin-left: 5px; }

.Message-name {
  font-weight: bold;
  font-size: 1em; }

.UserInputArea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17%;
  overflow-y: hidden; }
  .UserInputArea .UserInputArea-textarea {
    position: absolute;
    box-sizing: border-box;
    border: none;
    margin: 0;
    border-top: 0.05em solid #B6B6B6;
    padding: 1%;
    padding-right: 15%;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif !important;
    font-size: 1.1em;
    resize: none;
    outline: none;
    font-family: sans-serif, Tahoma;
    font-size: 1.1em;
    color: #181818;
    overflow-y: hidden; }
    .UserInputArea .UserInputArea-textarea::-webkit-scrollbar {
      display: none; }
  .UserInputArea .UserInputArea-submitIcon:focus {
    outline: 5px auto -webkit-focus-ring-color !important; }
  .UserInputArea .UserInputArea-submitIcon {
    position: absolute;
    background: transparent url(../images/send.png) no-repeat;
    background-position: center center;
    background-size: contain;
    top: 0;
    width: 70px;
    right: 0;
    margin-top: 2%;
    margin-right: 5%;
    outline: 0;
    border: none;
    height: 4rem; }

@media only screen and (max-width: 628px) {
  .Main {
    width: 100%;
    top: 15%;
    height: 85%;
    left: 0%; }
  dialog {
    width: 85%;
    height: 90%;
    top: 5%;
    box-sizing: border-box; }
    dialog .Modal-sheet {
      padding-top: 10%;
      padding-left: 10%; }
    dialog li {
      margin-bottom: 50px;
      margin-top: 0%; }
      dialog li input {
        display: block;
        margin-top: 5px;
        width: 70%;
        left: 12%; }
  .PageHeader {
    height: 15%; }
  .MessagesHeader-stats {
    margin: 0;
    padding: 0; }
  .MessagesHeader-statsCaption {
    margin: 0;
    padding: 0;
    font-size: 1em; }
  .MessagesHeader-statsIcons {
    margin-left: 0.5vh; }
  .MessagesHeader {
    height: 7%; }
    .MessagesHeader h2 {
      font-size: 3.5vh; }
    .MessagesHeader aside {
      top: 0;
      margin: 0.3em 2em; }
  .Messages::-webkit-scrollbar-track, .UserInputArea .UserInputArea-textarea::-webkit-scrollbar-track {
    border: none; }
  .Message-box {
    margin: 0.8% 1.5%;
    padding: 4px 8px;
    min-width: 40%;
    max-width: 75%;
    border-radius: 10px;
    border-width: 2px; }
  .Message-image {
    width: 8%;
    max-width: 4em;
    border-radius: 50%; }
  .Message-text {
    margin: 0;
    margin-top: 5px;
    font-size: 0.95em; }
  .Message-time {
    font-size: 0.7em; }
  .Message-name {
    font-size: 0.9em; }
  .Messages {
    max-height: 73%; }
  .PageHeader-logo {
    display: block;
    height: 11.5vh;
    padding-top: 2vh; }
  .UserInputArea .UserInputArea-textarea {
    border: 0.15em solid #ECECEC;
    border-radius: 6px;
    padding: 5px;
    padding-right: 15%;
    margin-left: 5%;
    overflow-y: scroll;
    width: 75%;
    height: 80%;
    font-size: 0.95em;
    border-width: 2px; }
  .UserInputArea .UserInputArea-submitIcon {
    margin-top: 0%;
    margin-right: 4%;
    max-width: 15%;
    max-height: 70%;
    float: right; }
  .LeftPane {
    width: 0%; } }

@media only screen and (max-width: 319px) {
  .Modal-buttons {
    bottom: 25px;
    left: 30px; }
    .Modal-buttons button:first-of-type {
      display: block;
      margin-bottom: 5px;
      padding: 3px 5px; }
    .Modal-buttons button:last-of-type {
      padding: 3px 5px; }
  .MessagesHeader-statsCaption {
    font-size: 70%; }
  .MessagesHeader h2 {
    font-size: 100%; }
  .MessagesHeader aside {
    margin: 0; }
  .MessagesHeader-statsIcons {
    margin-left: 0; }
    .MessagesHeader-statsIcons img {
      height: 12px; } }
