$header-height: 13%;
$left-pane-width: 15%;
$textarea-height: 300px;
$header-color: #353744;
$main-chat-color: #F6F6F6;
$left-pane-color: #61D290;

header {
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $header-color;
}

.main {
    position: absolute;
    width: 100% - $left-pane-width;
    height: 100% - $header-height;
    top: $header-height;
    left: $left-pane-width;
    right: 0px;
    background-color: $main-chat-color;
}

.left-pane {
    position: absolute;
    width: $left-pane-width;
    height: 100% - $header-height;
    top: $header-height;
    left: 0px;
    right: 100 - $left-pane-width;
    background-color: $left-pane-color;
}

.main > textarea {
    position: absolute;
    width: 100%;
    height: 300px;
    border: 2px solid #cccccc;
    bottom: 0;
    resize: none;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

// $header-height: 10vh;
// $left-pane-width: 15vw;
// $header-color: #353744;
// $main-chat-color: #F6F6F6;
// $left-pane-color: #61D290;

// header {
//     position: absolute;
//     width: 100vw;
//     height: $header-height;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     background-color: $header-color;
// }

// .main {
//     position: absolute;
//     width: 100vw - $left-pane-width;
//     height: 100vh - $header-height;
//     top: $header-height;
//     left: $left-pane-width;
//     right: 0px;
//     background-color: $main-chat-color;
// }

// .left-pane {
//     position: absolute;
//     width: $left-pane-width;
//     height: 100vh - $header-height;
//     top: $header-height;
//     left: 0px;
//     right: 100vw - $left-pane-width;
//     background-color: $left-pane-color;
// }