$header-height: 13%;
$header-height-phone: 15%;
$left-pane-width: 15%;
$textarea-height: 20%;
$header-color: #353744;
$main-chat-color: #F6F6F6;
$left-pane-color: #61D290;
$message-box-left-right-margin: 2%;
$message-box-top-bottom-margin: 0.5%;
$message-box-top-bottom-margin-phone: 0.8%;

$message-header-height: 10%;
$message-header-height-phone: 7%;
$messages-pane-width: 95%;
$seperator-height: 1%;

header {
    position: absolute;
    width: 100%;
    height: $header-height;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $header-color;
}

.logo {
    height: 10vh;
    padding: 2vh;
}

.main {
    position: absolute;
    width: 100% - $left-pane-width;
    height: 100% - $header-height;
    top: $header-height;
    left: $left-pane-width;
    bottom: 0;
    right: 0px;
    background-color: $main-chat-color;
}

.Modal {
    display: block;
	border: 1px solid black;
	position: fixed;	
	top: 0;
	left: 0;	
	right: 0;
	bottom: 0;
	width: 80%;
	max-width: 600px;
	max-height: 300px;
	margin: auto;
	background-color: white;
	padding: 20px;
	box-shadow: 0 0 10px 0 black;

//    .close:active {
//     display: none;
        
//     }
}

.Modal > .close:active {
    display: none;
}


.left-pane {
    position: absolute;
    width: $left-pane-width;
    height: 100% - $header-height;
    top: $header-height;
    left: 0px;
    right: 100 - $left-pane-width;
    background-color: $left-pane-color;
}

%scroll-bar {
    &::-webkit-scrollbar-track
    {
    border: 2px solid #ECECEC;
    border-radius: 10px;
    background-color: white;
    }

    &::-webkit-scrollbar
    {
    width: 1%;
    background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
    border-radius: 10px;
    border: 1px solid #ECECEC;
    background-color: #EBEDEC;
    }
}

.stats{
    margin-top: 2%;
    margin-right: 4%;
    text-align: right;
    width: 10%;
}

.stats-caption {
    display: inline;  
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
}

.stats-icons {
    height: 1.1em;
    margin-left: 10%;
}

.messages {
    // reset defualt properties
    list-style-type: none;
    padding: 0;
    // The real work starts here
    position: absolute;
    width: $messages-pane-width;
    max-height: 100% - $textarea-height - $message-header-height - $seperator-height;
    margin: 0% (100% - $messages-pane-width) / 2;
    bottom: $textarea-height + $seperator-height;
    overflow-y: auto;
    @extend %scroll-bar;
}

.messages-header {
    position: absolute;
    height: $message-header-height;
    width: 100%;

    & h2 {
        margin: 0; // did problematic things with all the aligment 
        display: inline-block;
        font-weight: normal;
        font-style: oblique;
        margin: 1em 1.2em;
        line-height: 1em;
        font-size: 2.1em;
        // padding: 3vh;
        // font-size: 2vw;
        // padding-left: 1vw;
    }

    & aside {
        position: absolute;
        display: inline;
        right : 0; 
    }

}

.message-image {
    position: relative;
    float: left;
    top: 0.7em;
    left: 0px;
    width: 3em;
    border-radius: 50%;
}

.message-box {
    background-color: white;
    display: inline-block;
    margin: $message-box-top-bottom-margin $message-box-left-right-margin;
    padding: 10px 15px;
    min-width: 25%;
    max-width: 60%;
    border-style: solid;
    border-width: 0.15em;
    border-color: #ECECEC;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.message-box:hover   {
    background-color: #EBEDEC;
}

.messages-input-text-seperator {
    height: $seperator-height;
}

.message-text {
    // Already set, its a paragraph. display: block;
    margin: 0;
    margin-top: 5px;
    font-size: 1.2em;
}

.message-close {
    // Normlize the default button design
    background: none;
    border: none;
    outline: none;
    // End normalization
    display: none;
    float: right;
    font-size: 1em;
    font-weight: bold;
    margin-top: -0.4em;
    margin-right: -0.6em;
    color: #383A47;

    animation: fade-in 0.7s;
}

@keyframes fade-in {
    from {opacity:0} to {opacity:1}
}

.message-box:hover .message-close {
    display: block;
}

.message-time {
    font-size: 0.8em;
}

.message-name {
    font-weight: bold;
    font-size: 1em;
}   

.user-input-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $textarea-height;

    & textarea {
        border: none;
        margin: 0;
        border-top: 0.05em solid grey;
        border-radius: 6px;
        padding: 5px;   
        padding-right: 15%;
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        font-family: sans-serif, Tahoma;
        font-size: 1.2em;
        @extend %scroll-bar;
    }

    .submit-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2%; 
        margin-right: 5%;
        outline: 0; 
        height: 45%;
    }
}
 

@media screen and (max-width: 1023px) , screen and (max-height: 699px) {
    .main {
        width: 100%;
        top: $header-height-phone;
        height: 100% - $header-height-phone;
        left: 0%;
    }

    header {
        height: $header-height-phone;
    }

    .stats {
        // margin-top: 1.5vh;
        // margin-right: 8vh;
        text-align: right;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .stats-caption {
        display: inline;  
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 3vh;
    }

    .stats-icons {
        display: inline;  
        height: 2vh;
        margin-left: 3vh;
    }

    .messages-header {
        position: absolute; 
        height: $message-header-height-phone;
        width: 100%;
        & h2 {
            margin: 0.4em 0.5em;
            line-height: 1em;
            font-size: 3.5vh;
            // padding: 3vh;
            // font-size: 2vw;
            // padding-left: 1vw;
        }
        & aside {
            position: absolute;
            display: inline;
            top: 0;
            right : 0; 
            margin: 1.5vh 8vh;    
        }
    }

    .message-box {
        margin: $message-box-top-bottom-margin-phone $message-box-left-right-margin;
        min-width: 40%;
        max-width: 75%;
       
        border-radius: 10px;
    }

    .message-image {
        position: relative;
        top: 20px;
        left: 0px;
        width: 8%;
        max-width: 4em;
        border-radius: 50%;
    }

    .message-text {
        // Already set, its a paragraph. display: block;
        margin: 0;
        margin-top: 5px;
        font-size: 1.2em;
    }

    .message-time {
        font-size: 1em;
    }

    .message-name {
        font-weight: bold;
        font-size: 1.2em;
    }  

    .messages {
        // reset defualt properties
        list-style-type: none;
        padding: 0;
        // The real work starts here
        position: absolute;
        width: $messages-pane-width;
        max-height: 100% - $textarea-height - $message-header-height-phone - $seperator-height;
        margin: 0% (100% - $messages-pane-width) / 2;
        bottom: $textarea-height + $seperator-height;
        overflow-y: auto;
    }

    .logo {
        display: block;
        margin: auto;
        height: 11.5vh;
        padding-top: 2vh;
    }

    .user-input-area {
        position: absolute;
        height: $textarea-height;

        & textarea {
            border: none;
            margin: 0;
            border: 0.15em solid #ECECEC;
            border-radius: 6px;
            padding: 5px;   
            padding-right: 15%;
            margin-left: 5%;
            // margin-right: 30%;
            width: 80%;
            height: 80%;
            resize: none;
            outline: none;
            font-family: sans-serif, Tahoma;
            font-size: 1.2em;

            &::-webkit-scrollbar { 
                display: none; 
            }
        }

        .submit-icon {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 2%; 
            margin-right: 4%;
            outline: 0; 
            width: 8%;
            height: auto;
            max-height: 70%;
        }
    }

    .left-pane {
        width: 0%;
    }


}