$header-height: 13%;
$header-height-phone: 15%;
$left-pane-width: 15%;
$textarea-height: 20%;
$header-color: #353744;
$main-chat-color: #F6F6F6;
$left-pane-color: #61D290;
$message-box-left-right-margin: 2%;
$message-box-top-bottom-margin: 0.5%;
$message-header-height: 10%;
$messages-pane-width: 95%;
$seperator-height: 1%;

header {
    position: absolute;
    width: 100%;
    height: $header-height;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $header-color;
}

.logo {
    height: 10vh;
    padding: 2vh;
}

.main {
    position: absolute;
    width: 100% - $left-pane-width;
    height: 100% - $header-height;
    top: $header-height;
    left: $left-pane-width;
    right: 0px;
    background-color: $main-chat-color;
}

.left-pane {
    position: absolute;
    width: $left-pane-width;
    height: 100% - $header-height;
    top: $header-height;
    left: 0px;
    right: 100 - $left-pane-width;
    background-color: $left-pane-color;
}

.messages {
    // reset defualt properties
    list-style-type: none;
    padding: 0;
    // The real work starts here
    position: absolute;
    width: $messages-pane-width;
    max-height: 100% - $textarea-height - $message-header-height - $seperator-height;
    margin: 0% (100% - $messages-pane-width) / 2;
    bottom: $textarea-height + $seperator-height;
    overflow-y: auto;
}

.messages-header {
    position: absolute;
    height: $message-header-height;
    width: 100%;

    & h2 {
        margin: 0; // did problematic things with all the aligment 
        display: inline;
        //padding: 18px;
        font-weight: normal;
        font-style: oblique;
        // line-height: 1em;
        // font-size: 2em;
        // padding-left: 1em;
        padding: 3vh;
        font-size: 2vw;
        padding-left: 1vw;
    }

    & aside {
        position: absolute;
        display: inline;
        right : 0; 
    }

}

.message-box {
    background-color: white;
    display: inline-block;
    margin: $message-box-top-bottom-margin $message-box-left-right-margin;
    padding: 10px 15px;
    min-width: 25%;
    max-width: 60%;
    border-radius: 10px;
}

.messages-input-text-seperator {
    height: $seperator-height;
}

.message-text {
    // Already set, its a paragraph. display: block;
    margin: 0;
    margin-top: 5px;
    font-size: 1em;
}

.message-time {
    font-size: 0.8em;
}

.message-name {
    font-weight: bold;
    font-size: 1em;
}

.main > textarea {
    position: absolute;
    width: 100%;
    height: $textarea-height;
    border: 1px solid grey;
    border-radius: 6px;
    bottom: 0;
    resize: none;
    padding: 5px;   
    font-family: Tahoma, sans-serif;
}

@media only screen and (max-width: 500px) , screen and (max-height: 500px) {
    .main {
        width: 100%;
        top: $header-height-phone;
        height: 100% - $header-height-phone;
        left: 0%;
    }

    header {
        height: $header-height-phone;
    }

    .logo {
        display: block;
        margin: auto;
        height: 11.5vh;
        padding-top: 2vh;
    }

    .left-pane {
        width: 0%;
    }
}